html {
    background: #ffffff;
}

body {
    font: normal 12px "Arial", "Helvetica";
	color: #333333; 
    background: #ffffff;
}

#header {
    height: 200px;
    width: 102%;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    background: url(images/iact/Alternate-Background.png);
    margin-left:-10px;
    margin-right: -10px;
    margin-top: -10px;
}

h2 {
    font-size: 24px;
}

#banner {
    height: 200px;
    width: 1024px;
    float: center;
    margin: 0px auto;
    background: url(images/iact/banner.png) no-repeat top center;
}

#main {
    width: 1024px;
    height: 600px;
    margin: 0px auto;
    /*background: url(images/iact/page-background.png) repeat-x top left;*/
    background: #ffffff;
}

#viewport {
    width: 1024px;
    height: 600px;
    float: left;
    background: #FFFFFF;
    margin: 0px 0px 0px 5px;
}

#content {
    width: 704px;
    height: 600px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    background: #FFFFFF;
    margin-top: 0px;
    margin-left: 5px;
    color: #333333
}

#content p {
    font-size: 14px;
	margin-left: 1px;
}

.comments-link {
    font-size: 14px;
    margin-left: 1px;
}

#content h1 {
    font-variant: small-caps;
    margin-top: 10px;
    margin-bottom: 10px;
}

#content h2 {
    font-variant: small-caps;
    margin-top: 10px;
	margin-bottom: 10px;
}

#content h2 a {
    color: #333333;
    text-decoration: none;
}

#content em {
	font-weight: bold;
	font-style: normal;
	font-size: 14px;
}

#rightColumn .xoxo {
    padding-left: 0px;
    list-style: none;
    text-indent: 0px;
}

#content ul {
    font: normal 14px "Arial", "Helvetica";
    margin-left: -20px;
}

#content li {
    margin-bottom: 5px;
}

#underline {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

#underline p {
    font-size: 18px;
}

#master li {
    margin-top: 15px;
}

#child li {
    margin-top: 5px;
}

#access {
    width: 760px;
	margin: -70px auto;
}

#access ul {
    margin-top: 0px;
    margin-left: -1px;
    margin-right: 0px;
    height: 50px;
    list-style-type: none;
    padding-left: 0px;
}

#access li {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
    margin-left:0px;
    margin-right: -1px;
    width: 0px;
    height: 50px;
    list-style-type: none;
    position: relative;
    text-align: center;
    display: inline;
}

#iactActions {
	list-style: none;
	display: inline;
}

.discoverIact {
	/*font-family:Verdana, Arial, Helvetica, sans-serif;*/
	display:block;
	background:url(images/iact/WhyIsIACTUnique.png) center top no-repeat; 
	height:110px;
	width:430px;
	line-height:36px;
	text-align:left;
	font-size:28pt;
	text-decoration:none;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 40px;
	padding-left: 30px;
	margin-left: -15px;
	margin-top: 0px;
}
.discoverIact:hover {
	background:url(images/iact/WhyIsIACTUniqueHover.png) center top no-repeat;
	color: #FF0000;
}

.attendIact {
	display:block;
	background:url(images/iact/WhyAttendIACT.png) center top no-repeat;
	height:110px;
	width:430px; 
	line-height:36px;
	text-align:left;
	font-size:28pt;
	text-decoration:none;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 40px;
	padding-left: 30px;
	margin-left: -15px;
	margin-top: 5px;
}

.attendIact:hover {
	background:url(images/iact/WhyAttendIACTHover.png) center top no-repeat;
	color: #00C800;
}

.joinIact {
	display:block;
	background:url(images/iact/JoinIact.png) center top no-repeat;
	height:97px;
	width:430px;
	line-height:36px;
	text-align:left;
	font-size:28pt;
	text-decoration:none;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 53px;
	padding-left: 30px;
	margin-left: -15px;
	margin-top: 5px;
}

.joinIact:hover {
	background:url(images/iact/JoinIactHover.png) center top no-repeat;
	color: #230FD2;
}

#access a
{
	padding-top: 10px;
    margin-top: 30px;
    height: 30px;
    text-decoration: none;
	display: inline-block;
	background: #333333;
	width: 150px;
	margin-left: 0px;
	margin-right: 0px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	font-variant: small-caps;
}

#access a:hover {
    background: #230fd2;
}

#upcoming a 
{
    padding-top: 10px;
    margin-top: 30px;
    height: 30px;
    text-decoration: none;
    display: inline-block;
    background: #FF0000;
    width: 150px;
    margin-left: 0px;
    margin-right: 0px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    font-variant: small-caps;
}

#rightColumn {
    background: #FFFFFF;
    float: right;
    margin: 10px 10px 0px 0px;
    width: 270px;
    /*height: 400px;*/
    position: relative;
}

#sidebar {
    background: #F3F3F3 url(images/iact/MenuBottom.png) bottom left no-repeat;
    /*border-style: solid;
    border-width: 5px;
    border-color: #538055;*/
    margin-bottom: 10px;
    padding-bottom: 5px;
    /*padding: 0px 10px 10px 10px;*/
}

#sidebar img {
    border: none;
}

#title {
    padding-left: 10px;
    padding-top: 6px;
    margin-bottom: 0px;
    padding-bottom: 2px;
    background: url(images/iact/MenuHeader.png) top left no-repeat;
}

.widget_nav_menu {
    padding-left: 10px
    padding-top: 0px;
    margin-top: -10px;
    background: url(images/iact/MenuBottom.png) bottom left no-repeat;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.widget_nav_menu h3 {
    margin-top: 0px;
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 1px;
    color: #ffffff;
    font-variant: small-caps;
    font-size: 16px;
    background: url(images/iact/MenuHeader.png) top left no-repeat;
}

h3 {
    font-size: 18px;
}

#title h3 {
    margin-top: 0px;
    padding-top: 1px;
    color: #FFFFFF;
    font-variant: small-caps;
    font-size: 16px;
}

#message {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: -20px
}

#message h2
{
    font-size: 14px;
    font-style:oblique;
}

#leadIn
{
    margin-bottom:-20px;
}

#leadIn h2
{
    font-size: 20;
}

#punchLine
{
    font-size: 28px;
}

#message p
{ 
    padding-left: 5px;
    padding-right: 5px;
	text-align: left;
}

#message em
{
    font-weight:bold;
    font-style:normal;
}

#message ul
{
    list-style: none;
    padding-left: -10px;
    margin-left: -20px;
}

#post {
    margin-top: -10px;
}

#post p {
	text-align: left;
}

#rightColumn .xoxo .menu {
   list-style-type: none;
   margin-top: 1px;
   margin-bottom: 6px;
} 

#rightColumn .xoxo .menu li {
    font: normal 14px "Arial", "Helvetica";
    margin-left: -40px;
    width: 260px;
    margin-top: 1px;
    color: #ffffff;
    font-variant: small-caps;
    font-size: 14px;
}

#rightColumn .xoxo .menu a
{
	padding-top: 5px;
    padding-left: 10px;
	height: 20px;
	text-decoration: none;
	display: inline-block;
	background: #333333;
	width: 260px;
	margin-right: 0px;
	color: #FFFFFF;
}

#rightColumn .xoxo .menu a:hover {
    background: #230fd2;
}

#listIndent a {
    padding-left: 30px;
    width: 240px;
}

#text
{
    padding-top: 5px;
    padding-left: 10px;
    height: 20px;
    text-decoration: none;
    display: inline-block;
    background: #333333;
    width: 260px;
    margin-right: 0px;
    color: #FFFFFF;
}

#bioPic {
    float: left;
    margin: 5px;
}

#impact p
{
    font-size: 16px;
    font-weight: bold;
}

#nestedContent {
    margin-left: -10px;
    margin-top: -10px;
}

#footer {
    width: 470px;
    height: 600px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    background: #FFFFFF;
    margin-top: 0px;
    margin-left: 5px;
    color: #333333
}

.widgets_on_page {
    margin-left: -20px;
}
.widgets_on_page ul {
    list-style: none;
}
