body {
    //font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url('Icarus/background.jpg');
}

#page {
    width: 1000px;
    margin: -21px auto;
    background: url('Icarus/page-border-right.png');
    background-repeat: repeat-y;
    background-position: top right;
    padding-right: 64px;
}

#container {
    background: url('Icarus/page-border-left.png');
    background-repeat: repeat-y;
    margin-left: -64px;
    padding-left: 64px;
}

#content {
    width: 996px;
    margin-left: 0px;
    background: #b3b3b3 url('Icarus/page-border-top.jpg') top left;
    background-repeat: repeat-x;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

#header {
    margin-top: 20px;
    margin-left: -1px;
    height: 211px;
    width: 1000px;
    background: url('Icarus/header.png');
}

#main {
    padding-left: 248px;
}

#post {
    width: 750px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 35px;
}

#post-top {
    width: 750px;
    margin-left 0px;
    background: url('Icarus/right-column-top.png') top left;
    background-repeat: repeat-x;
    margin-top: -5px;
    padding-top: 5px;
    margin-left: 0px;
    margin-bottom: -10px;
}


#post-right {
    background: url('Icarus/post-corner-right.png') top right;
    background-repeat: repeat-y;
    margin-top: -7px;
    margin-right: -2px;
    margin-bottom: -8px;
}

#post-bottom {
    background: url('Icarus/right-column-bottom.png') bottom left;
    background-repeat: repeat-x;
    margin-bottom: -36px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

#post-left {
    background: url('Icarus/post-corner-left.png') top left;
    background-repeat: repeat-y;
    margin-left: 4px;
}

#post-content {
    background: #ffffff;
    margin-left: 14px;
    margin-right: 18px;
    margin-bottom: 26px;
    padding-left: 10px;
    padding-top: -10px;
}

#navigationContainer {
    width: 991px;
    height: 60px;
    margin-left: 3px;
    margin-top: -15px;
    background: url('Icarus/menu-border-right.jpg') top right;
    background-repeat: no-repeat;
}

#brdmenu {
    height: 60px;
    background: url('Icarus/menu-border-left.jpg') top left;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 22px;
}

#brdmenu ul {
    height: 60px;
    background: url('Icarus/menu-background.jpg') top left;
    background-repeat: repeat-x;
    list-style-type: none;
}

#brdmenu li {
    float: left;
    text-align: center;
    margin-top: 5px;
    margin-right: 160px;
}

#leftColumn {
    width: 265px;
    float: left;
    margin-left: 5px;
    margin-top: -5px;
}

#left-bottom {
    background: url('Icarus/left-column-bottom.jpg') bottom left;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

#left-top {
    padding-top: 20px;
    background: url('Icarus/left-column-top.jpg') top left;
    background-repeat: no-repeat;
}

#left-body {
    padding-left: 20px;
    background: url('Icarus/left-column-back.jpg') top left;
    background-repeat: repeat-y;
}

#left-content {
    margin-top: -10px;
    background: transparent;
    padding-right: 30px;
}
