body {
    font-family: Ubuntu, sans-serif;
}

#page {
    margin: -10px auto;
}

#header {
    background-image:url('../Images/header-center.png');
    background-repeat:repeat-x;
    background-position:top;
    height: 135px;
}

#title {
    background-image:url('../Images/header-right.png');
    background-repeat:no-repeat;
    background-position:right top;
    height: 130px;
}

#title_content {
    background-image: url('../Images/header-left.png');
    background-repeat: no-repeat;
    background-position: left top;
    height: 130px;
    width: 500px;
}

#leftColumn {
    width: 70%;
    float: left;
}

#fly {
    font-size: 56px;
    margin-left: 20%;
}

#leftSection {
    font-size: 20px;
    margin-left: 20%;
    padding-right: 5%;
}

#rightColumn {
    width: 30%;
    float: right;
}

#passwordContent {
    background: #333333 url('../Images/login-bottomright.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-left: 10px;
}

#passwordContainer {
    width: 205px;
    color: #ffffff;
}

#passwordTitle {
    background: #333333 url('../Images/login-topright.png');
    background-repeat: no-repeat;
    background-position: right top;
}

#passwordTitleContent {
    background: #333333 url('../Images/login-topleft.png');
    background-repeat: no-repeat;
    background-position: left top;
    color: #333333;
    padding-left: 10px;
}

#passwordFooter {
    background: url('../Images/login-bottomleft.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-left: -10px;
}


